/* welcome */
.welcome {
   position: relative;
   top: 54px;

   font-family: Noto Sans TC;
   font-style: normal;
   font-weight: bold;
   font-size: 19px;
   line-height: 16px;

   display: flex;
   align-items: center;

   margin: 55px auto;
   padding: 0px 100px;

   width: var(--content-width);
   max-width: 90%;
   min-height: 16px;

   color: #666666;
}

/* booking */
.booking {
   display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start;
   gap: 35px;

   position: relative;
   top: 54px;

   margin-bottom: 55px;
   margin-left: auto;
   margin-right: auto;
   padding: 0px 100px;

   width: var(--content-width);
   max-width: 90%;
   min-height: 65vh;
}

.booking .no-result {
   font-family: Noto Sans TC;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;

   color: #666666;
}

/* booking-attraction */
.booking .booking-attraction {
   display: flex; flex-direction: row; 
   width: 100%;
   gap: 22px;

   position: relative;

   padding: 0px 10px;
}

.booking .booking-attraction.hidden {
   display: none;
}

.booking .booking-attraction .delete-icon {
   position: absolute;
   right: 0;
   top: 0;

   width: 30px;
   height: 30px;
}

.booking .booking-attraction .delete-icon:hover {
   cursor: pointer;
   
   border: 3px ridge rgb(0, 68, 255);
   border-radius: 5px;
}

.booking .booking-attraction .delete-icon img {
   width: 100%;
   height: 100%;

   object-fit: cover;
}

.booking .booking-attraction .attraction-image { 
   position: relative;

   width: 255px;
   height: 200px;

   border-radius: 5px;
}

.booking .booking-attraction .attraction-image img {
   width: 100%;
   height: 100%;

   border-radius: 5px;

   object-fit: cover;
}

.booking .booking-attraction .attraction-image .loading {
   font-family: Noto Sans TC;
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   line-height: 20px;

   color: #666666;

   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.booking .booking-attraction .information {
   display: flex; flex-direction: column;
   gap: 30px;

   padding-top: 10px;
}


.booking .booking-attraction .information .name {
   font-family: Noto Sans TC;
   font-style: normal;
   font-weight: bold;
   font-size: 16px;
   line-height: 13px;
   
   display: flex;
   align-items: center;
   
   color: #448899;
}

.booking .booking-attraction .information .detail {
   display: grid;
   grid-template-columns: 50px 400px;
   grid-template-rows: minmax(0, 1fr);
   gap: 10px 5px;

   justify-items: flex-start;
   align-items: center;
}

.booking .booking-attraction .information .detail .date-title,
.booking .booking-attraction .information .detail .date,
.booking .booking-attraction .information .detail .time-title,
.booking .booking-attraction .information .detail .time,
.booking .booking-attraction .information .detail .fee-title,
.booking .booking-attraction .information .detail .fee,
.booking .booking-attraction .information .detail .address-title, 
.booking .booking-attraction .information .detail .address {
   font-family: Noto Sans TC;
   font-style: normal;
   font-weight: bold;
   font-size: 16px;

   color: #666666;
}

.booking .booking-attraction .information .detail .date,
.booking .booking-attraction .information .detail .time,
.booking .booking-attraction .information .detail .fee,
.booking .booking-attraction .information .detail .address {
   font-weight: normal;
}

/* user & credit-card data */
.booking .user-data,
.booking .credit-card-data {
   display: flex; flex-direction: column;
   gap: 20px;
}

.booking .user-data.hidden,
.booking .credit-card-data.hidden {
   display: none;
}

.booking .user-data .title,
.booking .credit-card-data .title {
   font-family: Noto Sans TC;
   font-style: normal;
   font-weight: bold;
   font-size: 19px;
   
   display: flex;
   align-items: center;

   color: #666666;
}

.booking .user-data .user-detail,
.booking .credit-card-data .credit-card-detail {
   display: grid; align-items: center;
   grid-template-columns: 80px 200px;
   grid-template-rows: minmax(0, 1fr);
   gap: 15px 0px;

   font-family: Noto Sans TC;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   
   color: #666666;   
}

.booking .user-data .user-detail input,
.booking .credit-card-data .credit-card-detail .tappay-card {
   width: 200px;
   height: 40px;

   padding: 0px 10px;

   border: none;
   outline: none;
   border: 1px solid #E8E8E8;
   border-radius: 5px;

   font-family: Noto Sans TC;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
  
   color: #000000;   
}

.booking .user-data .user-detail input:hover,
.booking .user-data .user-detail input:focus,
.booking .credit-card-data .credit-card-detail .tappay-card:hover {
   border: 2px ridge blue;
}

.tappay-field-focus {
   border: 2px ridge blue;
}

.booking .user-data .notice-message {
   font-family: Noto Sans TC;
   font-style: normal;
   font-weight: bold;
   font-size: 16px;
   
   color: #666666;   
}

.booking .final-check {
   display: flex; flex-direction: column; align-items: flex-end;
   gap: 20px;
   
   width: 100%;
}

.booking .final-check.hidden {
   display: none;
}

.booking .final-check .total-price {
   display: flex; justify-content: center; align-items: center; 
   text-align: right;

   font-family: Noto Sans TC;
   font-style: normal;
   font-weight: bold;
   font-size: 16px;
   
   color: #666666;   
}

.booking .final-check .submit-button {
   display: flex; justify-content: center; align-items: center;
   padding: 20px 0px;
   
   background: none;
   border: none;
   outline: none;

   width: 173px;
   height: 36px;
   
   background: #448899;
   border-radius: 5px;   

   font-family: Noto Sans TC;
   font-style: normal;
   font-weight: normal;
   font-size: 19px;
   line-height: 36px;

   color: #FFFFFF;
}

.booking .final-check .submit-button:enabled:hover {
   background-color: rgb(0, 68, 255);
   cursor: pointer;
}

.booking .final-check .submit-button:disabled {
   background-color: gray;
}

hr {
   position: relative;
   right: 100px;
   width: 1200px;
   max-width: 90vw;
   height: 0px;
   
   border: 1px solid #E8E8E8;   
}

hr.hidden {
   display: none;
}

/* Footer */
.footer {
   display: flex;
   justify-content: center;
   align-items: center;
   
   position: relative;
   top: 54px;
   width: var(--window-width);
   max-width: 100%;
   height: var(--footer-height);
   bottom: 0px;
      
   background: #757575;   
}

.footer .text{
   width: 234px;
   height: 24px;

   font-family: Noto Sans TC;
   font-style: normal;
   font-weight: bold;
   font-size: 16px;
   line-height: 13px;
   
   display: flex;
   align-items: center;

   padding: 5px 0px;
      
   color: #FFFFFF;
}