@media (max-width: 1200px) {
/* index page */
   .navbar .title {
      margin-left: 10px;
   }

   .main {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-template-rows: 1fr;

      width: 90%;
   }

   .main .spinner {
      grid-column: span 2;
   }

   .main .attraction {
      display: grid; 
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-template-rows: 75% 1fr 2fr;
      grid-gap: 7px;
      
      position: relative;
      width: 100%;
      height: auto;

      justify-content: stretch;
      align-content: stretch;
   
      background: #FFFFFF;
      border: 1px solid rgb(206, 206, 206);
      border-radius: 5px;
   }

   .header .image {
      width: 650px;
      max-width: 55%;
      height: auto; 
      aspect-ratio: 650 / 320;
   }

   .header .image img {
      max-width: 100%;
      max-height: 100%;
   }

/* attraction page */
   .attraction-introduction {
      width: 95%;
      height: auto;
   }

   .attraction-introduction .carousel {   
      width: 45%;

      aspect-ratio: 9 / 7;
   }   

   .attraction-introduction .information {
      gap: 20px;

      width: 50%;
   }

   .attraction-introduction .information .name {
      height: 22px;
   }

   .attraction-introduction .information .category-mrt {
      height: 15px;
   }

   .attraction-introduction .information .schedule-order {
      grid-template-columns: 80px 150px;
      gap: 10px;

      height: auto;
      aspect-ratio: 2 / 1;   
   }

   .attraction-introduction .information .schedule-order #form {
      height: 70%;
   }

   .attraction-introduction .information .schedule-order .date input {
      max-width: 80%;
      padding: 5px 10px;
   }

   section {
      min-height: 65vh;
   }
}

@media (max-width: 1100px) {
/* booking page */
   .booking .booking-attraction .information .detail {
      grid-template-columns: 50px 250px;
   }

/* thankyou page */
   .order-information .order-attraction .information .detail {
      grid-template-columns: 50px 250px;
   }
}

@media (max-width: 950px) {
/* attraction page */
   .attraction-introduction {
      display: flex; flex-direction: column;
      gap: 20px;
      width: 100%;
      height: auto;
   }

   .attraction-introduction .carousel {
      width: 100%;
      height: 45%;
   }

   .attraction-introduction .carousel .attraction-image {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;
   }

   .attraction-introduction .carousel .circle-area .circle {
      margin: 0px 6px;
   }

   .attraction-introduction .information {
      gap: 20px;

      width: 100%;
      height: 50%;
   
      padding: 10px 10px;
   }

   .attraction-introduction .information .schedule-order {
      justify-content: center;
      gap: 15px;

      height: 300px;
   }

   .attraction-introduction .information .schedule-order .text {
      line-height: 26px;
   }


   .attraction-introduction .information .schedule-order #form {
      gap: 0px 5px;
   
      height: auto;
   }

   hr {
      bottom: 5%;
   }

/* booking page */
   .booking .booking-attraction .information .detail {
      grid-template-columns: 50px 350px;
   }   

/* order page */
   .order-information .order-attraction .information .detail {
      grid-template-columns: 50px 350px;
   }   
}

@media (max-width: 900px) {
/* booking page (including thankyou page) */
   .welcome {
      width: 100%;
      max-width: 100%;

      padding: 0 10px;
   }

/* booking page */
   .booking {
      width: 100%;
      max-width: 100%;

      padding: 0;
   }

   .booking .no-result {
      margin-left: 10px;
   }

   /* booking-attraction */
   .booking .booking-attraction {
      display: flex; flex-direction: column;
      position: relative;
      gap: 7px;
   }

   .booking .booking-attraction .delete-icon {
      position: relative;
      left: 100%;
      transform: translateX(-100%);
      bottom: 0;
   }

   .booking .booking-attraction .attraction-image {
      width: 100%;
      height: auto;
   
      border-radius: 5px;
   }

   /* user & credit-card data */
   .booking .user-data,
   .booking .credit-card-data {
      padding: 0px 10px;      
   }

   .booking .final-check {
      padding: 0px 10px;
   }

/* thankyou page */
   .order-information {
      width: 100%;
      max-width: 100%;

      padding: 0;
   }

   .order-information .order-number {
      width: 100%;
      max-width: 100%;

      padding: 0 10px;
   }

   /* order-attraction */
   .order-information .order-attraction {
      display: flex; flex-direction: column;
      position: relative;
      gap: 7px;
   }

   .order-information .order-attraction .attraction-image {
      width: 100%;
      height: auto;
   
      border-radius: 5px;
   }

   /* user data */
   .order-information .user-data {
      padding: 0px 10px;      
   }

/* member page */
   .orders-list {
      width: 100%;
      max-width: 100%;

      padding: 0;
   }

   .orders-list .no-result {
      margin-left: 10px;
   }

/* for all hr */
   hr {
      position: relative;
      right: 0;
      width: 95vw;
      max-width: 100%;
      margin: 0 auto;
   }
}

@media (max-width: 600px) {
/* index page */
   /* navbar & toggle button */
   .navbar {
      flex-direction: column;
      align-items: flex-start;
   }

   .navbar .title,
   .navbar .toggle-button {
      margin-left: 10px;
      margin-top: 10px;
   }
   
   .navbar .toggle-button {
      display: flex;
   }

   .navbar .navbar-links {
      display: none;
      width: 100%;
   }
   
   .navbar .navbar-links ul {
      width: 100%;
      flex-direction: column;
   }
   
   .navbar .navbar-links ul li {
      text-align: center;
      width: 100%;
   }

   .navbar .navbar-links ul li a,
   .navbar .navbar-links ul li button {
      text-align: center;
      width: 100%;
   }

   .navbar .navbar-links.active {
      display: flex;

      position: absolute;
      top: 54px;

      width: 100%;

      margin: 0;
      padding: 0;
      
      height: auto;

      background-color: #FFFFFF;
   }

   /* header */
   .header {
      height: 280px;
      overflow: hidden;
   }

   .header .header-area {
      max-width: 90%;
   }

   .header .image {
      display: flex; align-items: flex-end;

      right: -65px;

      width: 276px;
      max-width: 100%;
      height: 148px;
      
      aspect-ratio: 276 / 148;
      
      z-index: 0;
   }

   .header .image img {
      max-width: 100%;
      max-height: 100%;
   }

   .header-area .text-area {
      margin-top: 30px;
   }

   .header-area .text-area,
   .text-area .title,
   .text-area .text {
      max-width: 100%;
   }

   .text-area .search {
      max-width: 100%;
   }

   .text-area .search input {
      max-width: 75%;
   }

   .modal form {
      max-width: 100%; 
      grid-template-columns: minmax(auto, 310px);
   }
   /* main */
   .main {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;

      width: 90%;

      min-height: 43.2vh;
   }

   .main .spinner {
      grid-column: span 1;
   }

   .main .attraction {
      display: grid; 
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-template-rows: 75% 1fr 2fr;
      grid-gap: 7px;
      
      position: relative;
      width: 100%;
      height: auto;
   
      aspect-ratio: 322 / 280;
   
      background: #FFFFFF;
      border: 1px solid rgb(206, 206, 206);
      border-radius: 5px;
   }

   .main .attraction .title, 
   .main .attraction .mrt, 
   .main .attraction .category {
      padding: 0px 10px;
   } 

/* booking page */
   .booking .booking-attraction .information .detail {
      grid-template-columns: 50px 250px;
   }

/* thankyou page */
   .order-information .order-attraction .information .detail {
      grid-template-columns: 50px 250px;
   }
}
