@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

*, *::after, *::before {
   box-sizing: border-box;
}

:root {
   --window-width: 1920px;
   --content-width: 1200px;
   --max-width: calc(100vw * var(--content-width) / var(--window-width));

   --text-area-width: 460px;
   --search-icon-width: 60px;

   --nav-header-height: 374px;
   --footer-height: 104px;
}

html, body {
   display: flex; flex-direction: column; justify-content: center;
   position: relative;
   width: 100%;
   max-width: var(--window-width);

   margin: 0; padding: 0;
}

/* body::-webkit-scrollbar {
   display: none;
} */

.nav {
   display: flex; justify-content: center;

   position: fixed;
   width: var(--window-width);
   max-width: 100%;
   height: 54px;
   top: 0px;

   padding: 0;

   background: #FFFFFF;
   z-index: 11;
}

.navbar {
   display: flex; 
   justify-content: space-between; align-items: center; 
   position: relative;
   width: var(--content-width);
   max-width: var(--max-width);
}

.navbar .title {
   position: relative;
   width: 150px;
   height: 34px;
}

.navbar .title a {
   text-decoration: none;
   
   text-align: center;

   font-family: Noto Sans;
   font-style: normal;
   font-weight: bold;
   font-size: 30px;
   line-height: 34px;
   color: #448899;
}

.navbar .title a:active {
   color: #448899;
}

/* .toggle-button */
.navbar .toggle-button {
   position: absolute;
   top: .5rem;
   right: 1rem;

   width: 30px;
   height: 21px;

   display: none;
   flex-direction: column;
   justify-content: space-between;
}

.navbar .toggle-button .bar {
   height: 3px;
   width: 100%;
   background-color: black;
   border-radius: 10px;
}

/* Links & Buttons */
.navbar-links {
   display: flex;
   align-items: center;

   height: 100%;

   color: #666666;
}

.navbar-links ul {
   display: flex; justify-content: center; align-items: center;
   height: 100%;
   margin: 0; padding: 0;
}

.navbar-links li {
   list-style: none;
   display: flex; justify-content: center; align-items: center;
   height: 100%;
}

.navbar-links li a,
.navbar-links li button {
   text-decoration: none;
   color: #666666;

   font-family: Noto Sans TC;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;

   padding: 10px 10px;
}

.navbar-links li button {
   display: block;

   background: none;
   border: none;
   outline: none;

   cursor: pointer;
}

.navbar-links li a.hidden,
.navbar-links li button.hidden {
   display: none;
}

.navbar-links li button:hover,
.navbar-links li a:hover {
   background-color: rgb(0, 68, 255);
   color: white;
}
