/* welcome */
.welcome {
   position: relative;
   top: 54px;

   font-family: Noto Sans TC;
   font-style: normal;
   font-weight: bold;
   font-size: 19px;
   line-height: 16px;

   display: flex;
   align-items: start;

   margin: 55px auto;
   padding: 0px 100px;

   width: var(--content-width);
   max-width: 90%;
   min-height: 16px;

   color: #666666;
}

/* order-information */
.order-information {
   display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start;
   gap: 35px;

   position: relative;
   top: 54px;

   margin-bottom: 55px;
   margin-left: auto;
   margin-right: auto;
   padding: 0px 100px;
   
   width: var(--content-width);
   max-width: 90%;
   min-height: 65vh;
}

.order-information .order-number {
   font-family: Noto Sans TC;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 13px;
   
   display: flex;
   align-items: center;

   color: #666666;
}

.order-information .order-number.hidden {
   display: none;
}

.order-information .order-attraction {
   display: flex; flex-direction: row; 
   width: 100%;
   gap: 22px;

   position: relative;

   padding: 0px 10px;
}

.order-information .order-attraction.hidden {
   display: none;
}

.order-information .order-attraction .attraction-image {
   position: relative;

   width: 255px;
   height: 200px;

   border-radius: 5px;
}

.order-information .order-attraction .attraction-image img {
   width: 100%;
   height: 100%;

   border-radius: 5px;

   object-fit: cover;
}

.order-information .order-attraction .attraction-image .loading {
   font-family: Noto Sans TC;
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   line-height: 20px;

   color: #666666;

   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.order-information .order-attraction .information {
   display: flex; flex-direction: column;
   gap: 30px;

   padding-top: 10px;
}


.order-information .order-attraction .information .name {
   font-family: Noto Sans TC;
   font-style: normal;
   font-weight: bold;
   font-size: 16px;
   line-height: 13px;
   
   display: flex;
   align-items: center;
   
   color: #448899;
}

.order-information .order-attraction .information .detail {
   display: grid;
   grid-template-columns: 50px 400px;
   grid-template-rows: minmax(0, 1fr);
   gap: 10px 5px;

   justify-items: flex-start;
   align-items: center;
}

.order-information .order-attraction .information .detail .date-title,
.order-information .order-attraction .information .detail .date,
.order-information .order-attraction .information .detail .time-title,
.order-information .order-attraction .information .detail .time,
.order-information .order-attraction .information .detail .fee-title,
.order-information .order-attraction .information .detail .fee,
.order-information .order-attraction .information .detail .address-title, 
.order-information .order-attraction .information .detail .address {
   font-family: Noto Sans TC;
   font-style: normal;
   font-weight: bold;
   font-size: 16px;

   color: #666666;
}

.order-information .order-attraction .information .detail .date,
.order-information .order-attraction .information .detail .time,
.order-information .order-attraction .information .detail .fee,
.order-information .order-attraction .information .detail .address {
   font-weight: normal;
}

/* user data */
.order-information .user-data {
   display: flex; flex-direction: column;
   gap: 20px;
}

.order-information .user-data.hidden {
   display: none;
}

.order-information .user-data .title {
   font-family: Noto Sans TC;
   font-style: normal;
   font-weight: bold;
   font-size: 19px;
   
   display: flex;
   align-items: center;

   color: #666666;
}

.order-information .user-data .user-detail {
   display: grid; align-items: center;
   grid-template-columns: 80px 200px;
   grid-template-rows: minmax(0, 1fr);
   gap: 15px 0px;

   font-family: Noto Sans TC;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   
   color: #666666;   
}

.order-information .user-data .user-detail .contact-name,
.order-information .user-data .user-detail .contact-email,
.order-information .user-data .user-detail .contact-phone {
   display: flex;
   align-items: center;

   width: 200px;
   height: 40px;

   padding: 0px 10px;

   border: none;
   outline: none;
   border: 1px solid #E8E8E8;
   border-radius: 5px;

   font-family: Noto Sans TC;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
  
   color: #000000;   
}

.order-information .user-data .notice-message {
   font-family: Noto Sans TC;
   font-style: normal;
   font-weight: bold;
   font-size: 16px;
   
   color: #666666;   
}

hr {
   position: relative;
   right: 100px;
   width: 1200px;
   max-width: 90vw;
   height: 0px;
   
   border: 1px solid #E8E8E8;   
}

hr.hidden {
   display: none;
}

/* Footer */
.footer {
   display: flex;
   justify-content: center;
   align-items: center;
   
   position: relative;
   top: 54px;
   width: var(--window-width);
   max-width: 100%;
   height: var(--footer-height);
   bottom: 0px;
      
   background: #757575;   
}

.footer .text{
   width: 234px;
   height: 24px;

   font-family: Noto Sans TC;
   font-style: normal;
   font-weight: bold;
   font-size: 16px;
   line-height: 13px;
   
   display: flex;
   align-items: center;

   padding: 5px 0px;
      
   color: #FFFFFF;
}