{% extends "base.html" %}

{% block title %}Attraction{% endblock %}

{% block css %}<link href="{{ url_for('static', filename='css/attraction.css') }}" rel="stylesheet" type="text/css" media="all">{% endblock %}

{% block js %}<script defer src="{{ url_for('static', filename='js/attraction.js') }}"></script>{% endblock %}

{% block content %}
<div class="attraction-introduction">
   <div class="carousel">
      <div class="attraction-image"></div>
      <img id="left-arrow" src="{{ url_for('static', filename='image/btn_leftArrow.png') }}" alt="">
      <img id="right-arrow" src="{{ url_for('static', filename='image/btn_rightArrow.png') }}" alt="">
      <div class="circle-area"></div>
   </div>
   <div class="information">
      <div class="name"></div>
      <div class="category-mrt"></div>
      <div class="schedule-order">
         <div class="title">訂購導覽行程</div>
         <div class="text">以此景點為中心的一日行程，帶您探索城市角落故事</div>
         <form id="form" method="POST">
            <input type="text" name="id" id="idInput" style="display: none;">
            <div class="date-title">選擇日期：</div>
            <div class="date">
               <input type="date" name="date" id="date" required>
            </div>
            <div class="time-title">選擇時間：</div>
            <div class="time">
               <input type="radio" name="halfDay" id="firstHalfDay" value="morning" required checked>
               <label for="firstHalfDay">上半天</label>
               <input type="radio" name="halfDay" id="secondHalfDay" value="afternoon">
               <label for="secondHalfDay">下半天</label>
            </div>
            <div class="fee-title">導覽費用：</div>
            <div class="fee">新台幣 <span class="fee-number"></span> 元</div>
            <input type="number" name="price" id="priceInput" style="display: none;">
            <button type="submit">開始預訂行程</button>
         </form>
      </div>
   </div>
</div>

<hr>

<section>
   <div class="description"></div>
   <div class="addressArea">
      <div class="title">景點地址：</div> 
      <div class="address"></div>
   </div>
   <div class="transportArea">
      <div class="title">交通方式：</div>
      <div class="transport"></div>
   </div>
</section>
{% endblock %}