{% extends "base.html" %}

{% block title %}Booking{% endblock %}

{% block css %}<link href="{{ url_for('static', filename='css/booking.css') }}" rel="stylesheet" type="text/css" media="all">{% endblock %}

{% block js %}<script src="https://js.tappaysdk.com/tpdirect/v5.5.1"></script>
   <script type="module" src="{{ url_for('static', filename='js/booking.js') }}"></script>{% endblock %}

{% block content %}
<div class="welcome"></div>
<form method="POST" class="booking" id="order-form">
   <div class="booking-attraction">
      <div class="attraction-image"></div>
      <input type="hidden" id="attraction-image">
      <div class="information">
         <input type="hidden" id="attraction-id">
         <div class="name"></div>
         <input type="hidden" id="attraction-name">
         <div class="detail">
            <div class="date-title">日期：</div>
            <div class="date"></div>
            <input type="hidden" id="date">
            <div class="time-title">時間：</div>
            <div class="time"></div>
            <input type="hidden" id="time">
            <div class="fee-title">費用：</div>
            <div class="fee"></div>
            <div class="address-title">地點：</div>
            <div class="address"></div>
            <input type="hidden" id="address">
         </div>
      </div>
      <div class="delete-icon"><img src="../static/image/icon_delete.png" alt=""></div>
   </div>
   <hr>
   <div class="user-data">
      <div class="title">您的聯絡資訊</div>
      <div class="user-detail">
         <label for="name">聯絡姓名：</label>
         <input type="text" name="name" id="name" placeholder="請輸入姓名" required>
         <label for="email">連絡信箱：</label>
         <input type="email" name="email" id="email" placeholder="請輸入信箱" required>
         <label for="phone-number">手機號碼：</label>
         <input type="text" name="phone-number" id="phone-number" placeholder="請輸入手機號碼" required>
      </div>
      <div class="notice-message">請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</div>
   </div>
   <hr>
   <div class="credit-card-data">
      <div class="title">信用卡付款資訊</div>
      <div class="credit-card-detail">
         <label for="card-number">卡片號碼：</label>
         <input type="text" name="card-number" id="card-number" pattern="/d*" x-autocompletertype="cc-number" placeholder="**** **** **** ****" required>
         <label for="overdue-date">過期時間：</label>
         <input type="text" name="overdue-date" id="overdue-date" pattern="/d*" x-autocompletetype="cc-exp" placeholder="MM / YY" required>
         <label for="verified-password">驗證密碼：</label>
         <input type="text" name="verified-password" id="verified-password" pattern="/d*" x-autocompletetype="cc-csc" placeholder="ccv" required autocomplete="off">
      </div>
   </div>
   <hr>
   <div class="final-check">
      <div class="total-price"></div>
      <input type="hidden" id="total-price">
      <button type="submit" class="submit-button">確認訂購並付款</button>
   </div>
</form>
{% endblock %}