<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Booking</title>
   <link href="{{ url_for('static', filename='css/navbar.css') }}" rel="stylesheet" type="text/css" media="all">
   <link href="{{ url_for('static', filename='css/header.css') }}" rel="stylesheet" type="text/css" media="all">
   <link href="{{ url_for('static', filename='css/booking.css') }}" rel="stylesheet" type="text/css" media="all">
   <link href="{{ url_for('static', filename='css/media.css') }}" rel="stylesheet" type="text/css" media="all">
   <script defer src="{{ url_for('static', filename='js/booking.js') }}"></script>
</head>
<body>
   <div class="nav">
      <nav class="navbar">
         <div class="title"><a href="/">台北一日遊</a></div>
         <div class="navbar-links">
            <ul>
               <li><a href="/booking" target="_self">預定行程</a></li>
               <li><button data-modal-target="#modalSignin">登入/註冊</button></li>
            </ul>
         </div>
      </nav>
   </div>

   <!-- <main class="main">
   </main> -->

   <section>
      <div class="description">
         平安鐘祈求大家的平安，這是為了紀念921地震週年的設計，在喧鬧的廣場上每個小時鳴鐘，保佑平安，祈禱臺灣不會再發生這樣的天災。雙手合十加上108個黃色的琉璃乳丁，隨著緩緩流下的水，在底下的一個小噴泉噴出。雙手合十的意義，一個是祈福，一個是包容，教我們要包容這樣的改變，撫平這樣的傷口。下面的水緩緩流出，代表著人的生命力是不斷地延續下去。緩緩地鐘聲，卻帶來心中的寧靜。 這個平安鐘是由建築師姚仁喜與琉璃創作家王俠軍共同設計，長6公尺、寬5公尺，以鑄銅製成，由法鼓山文教基金會全額出資。平安鐘點綴都市景觀，不時提醒大家，面對刻骨銘心的災難痛苦，更應該有謙卑的一顆心。
      </div>
      <div class="addressArea">
         <div class="title">景點地址：</div> 
         <div class="address">臺北市 大安區忠孝東路4段</div>
      </div>
      <div class="transportArea">
         <div class="title">交通方式：</div>
         <div class="transport">捷運站名：忠孝復興站4號出口1.公車：204、212、212直、232、232副、262、262(區間)、278、299、521、605、605(副)、605(新台五線)、667、903、忠孝新幹線至頂好市場站 2.車位：太平洋崇光百貨地下停車場或市民大道附近地下停車場</div>
      </div>
   </section>

   <footer class="footer">
      <div class="text">COPYRIGHT © 2021 台北一日遊</div>
   </footer>
</body>
</html>