{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block css %}<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" type="text/css" media="all">{% endblock %}

{% block js %}<script defer src="{{ url_for('static', filename='js/index.js') }}"></script>{% endblock %}

{% block content %}
   <header class="header">
      <div class="header-area">
         <div class="text-area">
            <div class="title">輕鬆享受台北一日悠閒</div>
            <div class="text">探索每個角落，體驗城市的深度旅遊行程</div>
            <form id="searchform" class="search">
               <input type="text" name="keyword" id ="searchInput" placeholder="輸入景點名稱查詢" onfocus="this.select();">
               <button type="submit" id="searchButton"><img id="icon" src="{{ url_for('static', filename='image/icon_search.png') }}" alt="圖片失效"></button>
            </form>
         </div>
      </div>
      <div class="image"><img src="{{ url_for('static', filename='image/welcome_1.png') }}" alt=""></div>
   </header>

   <main class="main">
   </main>
{% endblock %}