<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Index</title>
   <link href="{{ url_for('static', filename='css/navbar.css') }}" rel="stylesheet" type="text/css" media="all">
   <link href="{{ url_for('static', filename='css/header.css') }}" rel="stylesheet" type="text/css" media="all">
   <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" type="text/css" media="all">
   <link href="{{ url_for('static', filename='css/media.css') }}" rel="stylesheet" type="text/css" media="all">
   <script defer src="{{ url_for('static', filename='js/index.js') }}"></script>
   <script defer src="{{ url_for('static', filename='js/signin-up.js') }}"></script>
</head>
<body>
   <div class="nav">
      <nav class="navbar">
         <div class="title"><a href="/">台北一日遊</a></div>
         <div class="navbar-links">
            <ul>
               <li><a href="/booking" target="_self">預定行程</a></li>
               <li><button data-modal-target="#modalSignin">登入/註冊</button></li>
            </ul>
         </div>
      </nav>
   </div>
   <header class="header">
      <div class="header-area">
         <div class="text-area">
            <div class="title">輕鬆享受台北一日悠閒</div>
            <div class="text">探索每個角落，體驗城市的深度旅遊行程</div>
            <form id="searchform" class="search">
               <input type="text" name="keyword" id ="searchInput" placeholder="輸入景點名稱查詢" onfocus="this.select();">
               <button type="submit" id="searchButton"><img id="icon" src="{{ url_for('static', filename='image/icon_search.png') }}" alt="圖片失效"></button>
            </form>
         </div>
         <div class="image"><img src="{{ url_for('static', filename='image/welcome_1.png') }}" alt=""></div>
      </div>
   </header>

	<div class="modal" id="modalSignin">
		<div class="modal-header"></div>
		<div class="modal-body">
			<div class="title">登入會員帳號</div>
			<button data-close-button class="close-button"></button>
         <form method="POST">
            <input type="email" name="email" placeholder="輸入電子信箱" required>
            <input type="password" name="password" placeholder="輸入密碼" required>
            <button type="submit">登入帳戶</button>
         </form>
         <a href="#modalSignup" id="goSignup">還沒有帳戶？點此註冊</a>
		</div>
	</div>
	<div class="modal signup" id="modalSignup">
		<div class="modal-header"></div>
		<div class="modal-body">
			<div class="title">註冊會員帳號</div>
			<button data-close-button class="close-button"></button>
         <form action="#" method="POST">
            <input type="text" name="name" placeholder="輸入姓名" required>
            <input type="email" name="email" placeholder="輸入電子信箱" required>
            <input type="password" name="password" placeholder="輸入密碼" required>
            <button type="submit">註冊新帳戶</button>
         </form>
         <a href="#modalSignin" id="goSignin">已經有帳戶了？點此登入</a>
		</div>
	</div>
	<div id="overlay"></div>

   <main class="main">
   </main>

   <!-- <button class="loadButton" onclick="loadMore();">Load More</button> -->

   <footer class="footer">
      <div class="text">COPYRIGHT © 2021 台北一日遊</div>
   </footer>
</body>
</html>