<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Thank You</title>
   <link href="../static/css/navbar.css" rel="stylesheet" type="text/css" media="all">
   <link href="../static/css/attracion.css" rel="stylesheet" type="text/css" media="all">
   <link href="../static/css/main.css" rel="stylesheet" type="text/css" media="all">
   <link href="../static/css/media.css" rel="stylesheet" type="text/css" media="all">
   <script defer src="../static/js/index.js"></script>       
</head>
<body>
   <div class="nav">
      <nav class="navbar">
         <div class="title">台北一日遊</div>
         <div class="navbar-links">
            <ul>
               <li><a href="/booking">預定行程</a></li>
               <li><a href="#">登入/註冊</a></li>
            </ul>
         </div>
      </nav>
   </div>

   <main class="main">
   </main>

   <footer class="footer">
      <div class="text">COPYRIGHT © 2021 台北一日遊</div>
   </footer>      
</body>
</html>